* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Header */
.top-main {
  background: var(--Black-5, rgba(30, 40, 50, 0.05));
  overflow: hidden;
  width: 100%;
}
.header {
  margin-left: 300px;
  width: 69.38%;
  overflow: hidden;
}

.header-top {
  padding-top: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: #e3e3e3 1px solid;
  padding-bottom: 27px;
}

.icon-h {
  font-size: 20px;
}

.logo {
  left: 50.465%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  position: absolute;
}

.logo img {
  margin: 0 10px;
}

.button-h {
  display: flex;
  margin: 0 4px 0 0;
}

.btn-1 {
}

.btn-1,
.btn-2 {
  align-items: center;
  border: 0;
  cursor: pointer;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.btn-1 {
}
.btn-2 {
  margin-left: 24px;
}

.button-h i {
  padding-right: 8px;
  font-size: 20px;
}

.header-menu-wrap {
  margin-top: 31px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu a {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  text-decoration: none;
  color: var(--Dark, #000);
  font-feature-settings: "clig" off, "liga" off;
}

.header-menu a:hover {
  color: #ff6f61;
}

.button-h .btn-1:hover,
.button-h .btn-2:hover,
.button-h .btn-1:hover i,
.button-h .btn-2:hover i {
  color: #ff6f61;
  /* Màu mới khi hover */
}

/* container */
.top-main {
  height: 847px;
}
.content {
  position: absolute;
  top: 299px;
  left: 304px;
  flex-shrink: 0;
}

.content-header {
  
  font-family: Roboto;
  font-size: 74px;
  font-style: normal;
  font-weight: 300;
  line-height: 74.324%;
  text-transform: capitalize;
}

.content-text {
  color: var(--Dark, #000);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  text-transform: capitalize;
  margin-top: 52px;
}

.content-text p:last-child {
  margin-top: 9px;
}

.content-btn {
  display: inline-flex;
  padding: 18px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 29px;
  background: var(--Black, #1e2832);
  color: var(--White, #fff);
  margin-top: 66px;
  border: none;
}

.content-btn:hover {
  background-color: #ff6f61;
  border: #ff6f61;
}

.content-btn i {
  font-size: 24px;
}

.img-content {
  position: relative;
  margin-top: 81px;
  margin-left: 1084px;
  width: 424px;
  height: 542px;
}

.img-content img {
  border-radius: 160px 0px;
}

.img-border {
  position: relative;
  margin: 17px 18px;
  top: -100%;
  border-radius: 160px 0px;
  border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
  flex-shrink: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.frame {
  overflow: hidden;
}

.frame .frame-r {
  position: absolute;
  bottom: 215px;
  right: 0;
  transform: translateX(10%);
  background-image: url(/src/img/bgn-zẩ1.jpg);
  background-size: contain;
  height: 326px;
  width: 215px;
  background-image:url(../img/Frame\ \(r\).png) ;
}

.frame-l {
  position: absolute;
  left: 0px;
  bottom: 168px;
  width: 120px;
  height: 125px;
  background-image: url(../img/Frame.png);
  background-size: contain;

}

/* Brand */
.brand-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-left: 17px;
  margin-bottom: 90px;
}

.brand-wrap {
  width: 100%;
  height: 648px;
  display: flex;
  justify-content: center;
}

.brand-content {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.left-brand-content {
  height: 648px;
}

.left-brand-content img {
}

.left-brand-content p {
  transform: translateY(-100.5%) translateX(-65px) rotate(-90deg);
  width: 100%;
  height: 100%;
  color: var(--Dark, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  text-transform: uppercase;
  flex-shrink: 0;
  
}

.right-brand-content {
  margin-left: 24px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 312px);
  grid-gap: 24px;
}

.right-brand-content img {
  width: 312px;
  height: 312px;
  margin: 0;
}

/* Sub */

.sub-wrap {
  display: flex;
  justify-content: center;
}
.sub-content {
  margin-top: 140px;
  width: 69.66%;
  margin-left: 20px;
}

.sub-header h2 {
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.sub-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sub-menu {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
}

.sub-menu-item {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 28px;
  font-family: Open Sans;

}

.sub-menu ul {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  width: 373px;
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
}
.sub-menu ul li:first-child {
  color: #000;
}
.sub-menu ul li:hover {
  color: #000;
}

.sub-menu button {
  padding: 5px 18.5px;
  border: none;
  color: white;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  background: var(--Black, #1e2832);
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 3px;
}

.sub-menu i {
  color: var(--White, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-right: px;
}

.row {
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;
}

.col-4 {
     width: 336px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 12px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

/* Sile-clone */
.sld-btn {
  padding: 4px 15px!important;
}
.owl-theme {
  margin-left: 3px;
}

.rb-sld {
  left: 0px!important;
}
.col-4-slide img{
  margin-bottom: 18px;
}
.col-4-slide:last-child {
}
.col-4-slide {
  width: 336px;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding-right:24px;
 margin-bottom: 15px;
}
.sub-content .owl-nav button {
  position: absolute;
  top: 196px;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;

  border-radius: 50%!important;
  color: #0e0a0a;
}

.sub-content .owl-nav .owl-prev {
  left: 26px;
}
.sub-content .owl-nav .owl-next {
  right:14px; ;
}

.fa-chevron-left,.fa-chevron-right{
  font-size: 32px;
}


.sub-content .owl-nav .owl-prev:hover,
.sub-content .owl-nav .owl-next:hover {
  background-color: #e5e8ec00!important;
}

.sub-content .owl-nav .owl-prev:hover span,.sub-content .owl-nav .owl-next:hover span{
  color: black;
}

/*  */

.sub-menu-card {
  display: flex;
  margin-bottom: 115px;
}
.col2 {
  position: relative;
}
.riboon {
  width: 52px;
  height: 24px;
  position:absolute ;
  left:12px;
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rb-hot {
  background-color: #ff6f61;
}
.rb-sale {
  background: var(--Black, #1E2832);}

.rb_p {
  color: var(--White, #FFF);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Overline */
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.sub-card-text {
  margin-top: 18px;
  padding: 0 10px;
  text-align: left;
  margin-top: 12px;
}

.sub-card-t-top {
}

.sub-card-t-bot {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.h6 {
  color: var(--Dark, #000);
  font-feature-settings: "clig" off, "liga" off;
  /* H6 */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.sub-card-t-bot p {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.d3 {
  color: var(--Dark, #000);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.sale-span {
  color: var(--Primary, #ff6f61);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.d3-sale {
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  /* Span 2 */
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: line-through;
  margin-right: 8px;
  text-decoration-color: var(--Dark-50, rgba(0, 0, 0, 0.5));
}

/* Zara */
.zara-wrap {
  width: 100%;
  height: 777px;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.zara {
  width: 1764.919px;
  height: 1341px;
  position: absolute;
  top: 51.7%;
  left: calc(50% - 256px);
  transform: translate(-50%, -50%);
  background-image: url(../img/bgn-zẩ1.jpg);
  background-size: contain;
}
.zara-logo-bg {
  width: 745px;
  height: 309px;
  background-image: url(../img/1024px-Zara_Logo\ 1.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -85px;
  top: 54px;
}

.zara-content {
  width: 504px;
  height: auto;
  position: absolute;
  right: 316px;
  top: 235px;
}

.zara-ct-logo {
  width: 191px;
  height: 81px;
  background-image: url(../img/1024px-Zara_Logo\ 2.png);
}

.zara-content p {
  margin-top: 52px;
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: capitalize;
}

.zara-content button {
  margin-top: 50px;
  display: inline-flex;
  padding: 17px 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: var(--Black, #1e2832);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

/* FOllow */

.follow-wrap {
  background: var(--Black-5, rgba(30, 40, 50, 0.05));
  height: 754px;
  display: flex;
  justify-content: center;
  margin-top:  115px;
  ;
}

.follow {
  justify-content: center;
  padding: 100px 0 100px 300px;
  position: absolute;
  left: 12px;
}

.fl-header-h h2 {
  color: var(--Dark, #000);
  text-align: center;

  /* H2 */
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.fl-header {
  margin-bottom: 60px;
}

.col-8 {
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12px;
  margin-bottom: 65px;
  box-sizing: border-box;
}

.row-6 {
  display: flex;
  margin: 0 -24px;
  flex-wrap: wrap;
}

.fl-input {
  width: 642px;
  height: 32px;
  border: none;
  border-bottom: 2px solid black;
  padding-left: 15px;
  padding-bottom: 12px;
  outline: none;
  background-color: rgba(240, 255, 255, 0);
}

.fl-input::placeholder {
  color: var(--Black-50, rgba(30, 40, 50, 0.5));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.fl-input-btn {
  margin-top: 71.4px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.fl-input-btn button {
  margin-left: 26px;
  width: 91px;
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
  outline: none;
  background-color: rgba(240, 255, 255, 0);
  font-family: Open Sans;
  font-size: 1rem;
}
/* ft */
footer {
  background-color: white;
  padding-top: 146px;
}

.ft {
  width: 100%;
  display: flex;
  padding: 0 0 0 300px;
  margin-bottom: 79px;
}
.left-ft {
  width: 392px;
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}

.left-ft p {
  color: var(--Black-75, rgba(30, 40, 50, 0.75));
  font-feature-settings: "clig" off, "liga" off;

  font-family: Open Sans;
  font-size: 16px;  
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  text-transform: capitalize;
  margin-bottom: 29px;
}

.logo2 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.logo2 img {
  margin: 0 10px;
}
.right-ft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ft-menu {
  display: flex;
}

.r-ft-ul {
  width: 200px;
  margin-right: 137px;
}

.ft-menu p {
  color: var(--Dark, #000);
  font-feature-settings: "clig" off, "liga" off;
  /* H6 */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
  margin-top: -5px;
}

.ft-menu ul li {
  list-style: none;
  color: var(--Black, #1e2832);
  font-feature-settings: "clig" off, "liga" off;
  /* A 2 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-transform: capitalize;
  padding-bottom: 12px;
}

.ft-menu a {
  color: black;
  text-decoration: none;
  font-family: "Open Sans";
}

.end-bar {
  background: var(--Black, #1e2832);
  display: flex;
  gap: 375px;
  padding: 12px 0 12px 300px;
  align-items: center;
}

.end-bar img {
  height: 24px;
}

.end-bar p {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  text-align: center;
  /* Span 3 */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.end-bar button {
  margin-left: 3px;
  background: var(--Black, #1e2832);
  color: white;
  border: none;
  color: var(--White, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-weight:200;
  padding: 3px 12px;
  text-align: center;
}

.end-bar i {
  margin-left: 6px;
  color: var(--White, #ffffffd3);
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;

}
